/* Entire Site General Theme */
:root {
    --dark: #331689;
    /* DARK THEME COLOUR */
    --light: #E2DCFD;
    /* LIGHT THEME COLOUR */
    --hover: #d4caf3;
    /* HOVER COLOUR */
    --bg: rgb(233, 226, 238);
    /* A GENERAL BACKGROUND COLOUR  */
}


.body {
    background-color: var(--dark);
    /*Background Colour for entire website*/
}

/* GENERAL HEADER THEMES*/

h1 {
    display: none;
    margin: 0.8rem 0.2rem 0.2rem 0.2rem;
    color: var(--light);
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark);
    text-align: center;
    font-size: 2.5rem;

}

/* GENERAL WEBSITE BUTTON LAYOUT*/
button {
    position: absolute;
    background-color: var(--dark);
    float: right;
    color: white;
    border: 0px;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

/*HIGHLIGHTED TEXT STYLE*/
#highlight {
    color: var(--dark);
    font-style: inherit;
}

/*WEBSITE STRUCTURE CSS:*/
/*NAVIGATION BAR STYLE CSS*/
.topnav {
    transition: 0.2s;
}

/*Dropdown Hamburger Menu CSS*/

#hamburger {
    opacity: 0;
    /* Default Checkbox is invisible*/
}

.hamnav label {
    /*Visible hamburger Icon */

    display: inline-block;
    color: white;
    background: var(--dark);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

.topnav {
    /*The options within navbar are hidden on default*/
    display: none;
}

.hamnav input:checked~.topnav {
    /*When hamburger Icon clicked, the navbar options are listed*/
    display: block;
}

.topnav a {
    /*styling of links listed in Navbar*/
    background: var(--dark);
    display: block;
    width: 100%;
    color: #f2f2f2;
    text-align: left;
    padding: 0.8rem 0.5rem;
    text-decoration: none;
    font-size: 1.063rem;
    transition: 0.3s;
}

.topnav a:hover {
    /*hover styling, when links are hovered with mouse.*/
    cursor: pointer;
    background-color: var(--hover);
    opacity: 70%;
    color: var(--dark);
}


/*HEADER*/
.header {
    color: var(--light);
    background-color: var(--light);

}

/*MAIN IMAGE*/

.container {
    /*grouped text and image positioning/styling*/
    margin-top: 0.3rem;
    position: relative;
    text-align: center;
    color: white;
}

.imgtext {
    /*Header/text on top of the image*/
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: var(--light);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;
}

#mainimg {
    /*actual image sizing*/
    max-width: 100%;

    opacity: 80%;
}

/*ABOUT ME SECTION*/
#ABOUT {
    /*Image of myself*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutme {
    /*The section's styling*/
    background: var(--bg);
    padding: 2rem;

}

.aboutme p {
    /*The text within the section's styling */
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 2rem 2rem 2rem
}

/*WORKS/PORTFOLIO*/
.work h2 {
    /* Projects heading styling */
    color: var(--light);
    margin-bottom: 1rem;
}

.maincontainer {
    /* contains subcontainer(s)*/
    display: flex;
    /*allowing subcontainer elements within this class to sit inline/fitted*/
}

.subcontainer {
    position: relative;
    /*  max-width: 25rem; */
}

.gallery {
    /* Styling of entire section contents */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#horiseon {
    /*Horiseon image size*/
    width: 600px;
}

.subcontainer img {
    /* sizing of undefined images in the subcontainer*/
    width: 300px;
    opacity: 50%;
}


.subcontainer a img:hover {
    opacity: 30%;
    border: 5px solid var(--light);
}

.subcontainer .content {
    /*The text titled on images styling*/
    position: absolute;
    bottom: 0;
    background-color: black;
    background: rgba(31, 0, 80, 0.651);
    color: white;
    padding: 20px;
}



/* CONTACT FORM */
/* General Style */
#text,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}


/* SUBMIT BUTTON */
#submit {
    /*styling submit button, color etc*/
    background-color: var(--dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    /*styling when submit button is hovered*/
    background-color: var(--light);
    color: var(--dark);
}


.contactform {
    /* Adding a background color and some padding around the form */
    color: var(--dark);
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
}

.contactform p {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contactform h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

/*SOCIALS IN CONTACT ME SECTION */

.contactform ul {
    /* Style of list is invisible, used to group */
    margin-top: 1rem;
    list-style-type: none;
    text-align: center;
    font-weight: bold;


}

.contactform a {
    /*no text decoration/underline on links*/
    text-decoration: none;

}

.contactform a:hover {
    /*When links are hovered, a new colour shows*/
    color: #675896
}



/*FOOTER*/
footer {
    width: 100%;
    background-color: var(--dark);
    color: white;
    padding: 0.25rem;
    font-size: small;
    text-align: center;
}

/*SCREEN SIZING EDITS*/

@media screen and (min-width: 768px) {
    /*larger than phone screen sizes*/

    /*Adjusted NavBar to fit large screen, Navbar does not drop down*/
    .topnav a {
        display: inline;
        padding: 0.5rem 1rem 1rem 1rem;

    }

    .topnav {

        float: right;
        display: block;
        padding: 0.5rem 1rem 1rem 1rem;
    }


    .hamnav label {
        /*Hamburger menu no longer necessary*/
        display: none;
    }


}


@media screen and (max-width: 2000px) {
    /*very large desktop screens*/

    #ABOUT {
        /* preventing the About Me image to grow TOO large*/
        width: 25%;
    }

}


@media screen and (max-width: 400px) {
    /* very small screens */


    .imgtext {
        /* prevents the TAMARA SFERCO text on top of main image from overlapping and becoming too jarring*/
        opacity: 0%;
    }

}