:root {
    --dark: #331689;
    --light: #E2DCFD;
    --hover: #d4caf3;
    --bg: rgb(233, 226, 238) ;
}

.body {
    background-color: var(--bg);
}
/*NAVIGATION BAR CSS*/
.topnav {
    width: 100%;
    background-color: var(--dark);
    padding: 0.8rem 0.5rem;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.8rem 0.5rem ;
    text-decoration: none;
    font-size: 1.063rem;
  }

a:hover {
    background-color:var(--hover);
    opacity: 70%;
  color: var(--dark);
}


/*HEADER*/
.header {
    color: var(--light);
    background-color: var(--light);
   
}

/*MAIN IMAGE*/
.container {
    position: relative;
    text-align: center;
    color: white;
}
.imgtext {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: var(--dark);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 70%;
}
#mainimg {
    max-width: 100%;
    
    opacity: 50%;
}






@media screen (max-width 1222px) {
    
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: var(--dark);
    color: white;
    padding: 0.25rem;
    font-size: small;
    text-align: center;
}
