/* Entire Site General Theme */
:root {
    --dark: #331689;
    --light: #E2DCFD;
    --hover: #d4caf3;
    --bg: rgb(233, 226, 238) ;
}

.body {
    background-color: var(--dark);
}

h1 {
    display: none;
    margin: 0.8rem 0.2rem 0.2rem 0.2rem;
     color: var(--light);
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark);
    text-align: center;
    font-size: 2.5rem;

}

button {
    position: absolute;
    background-color: var(--dark);
    float: right;
    color: white;
    border: 0px;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}
#highlight {
    color: var(--dark);
    font-style: inherit;
}

/*NAVIGATION BAR STYLE CSS*/
.topnav {
    /*display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--dark);
    padding-left: 0.5rem;
    padding-top: 1.75rem;
    padding-bottom: 0.5rem;
    overflow-x: hidden; */
    transition: 0.2s;
}

#hamburger {
    opacity: 0;
}
.hamnav label {
    
    display: inline-block;
    color: white;
    background: var(--dark);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}
.topnav { display: none;}

.hamnav input:checked ~ .topnav {display: block;}

.topnav a {
    background: var(--dark);
    display: block;
    width: 100%;
    color: #f2f2f2;
    text-align: left;
    padding: 0.8rem 0.5rem ;
    text-decoration: none;
    font-size: 1.063rem;
    transition: 0.3s;
  }

.topnav a:hover {
    cursor: pointer;
    background-color:var(--hover);
    opacity: 70%;
    color: var(--dark);
}






/*HEADER*/
.header {
    color: var(--light);
    background-color: var(--light);
   
}

/*MAIN IMAGE*/
.container {
    margin-top: 0.3rem;
    position: relative;
    text-align: center;
    color: white;
}
.imgtext {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: var(--light);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;
}
#mainimg {
    max-width: 100%;
    
    opacity: 80%;
}
/*ABOUT ME SECTION*/
#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: #33316890;
    border: 3rem   
}
.aboutme {
    background-color: var(--bg);
    padding: 2rem;
    
}
.aboutme p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 2rem 2rem 2rem

}

/*WORKS/PORTFOLIO*/
.work h2 {
    color: var(--light);
}

 /* CONTACT FORM */
 /* General Style */
#text, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 

  }
  
  /* SUBMIT BUTTON */
  #submit {
    background-color: var(--dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit:hover {
    background-color: var(--light);
    color: var(--dark);
  }
  
  /* Add a background color and some padding around the form */
  .contactform {
    color: var(--dark);
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
  }






/*FOOTER*/
footer {
    width: 100%;
    background-color: var(--dark);
    color: white;
    padding: 0.25rem;
    font-size: small;
    text-align: center;
}

@media screen and (min-width: 768px) {

    /*Adjusted NavBar to fit large screen*/
    .topnav a {
        display: inline;
        padding: 0.5rem 1rem 1rem 1rem;
       
    }
    
    .topnav {
        
        float: right;
        display: block;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    .hamnav label {
       display: none ;
    }

}


@media screen and (max-width: 400px) {
   
    
    .imgtext {
        opacity: 0% ;
    }
    
}




